/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 800px;
  flex-grow: 1;
  width: 100%;

}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}

